// **************************************
// GRID STYLES
// **************************************
@use "../utilities" as *;

/*------GRID LAYOUT STYLES-----------*/

.grid__container {
  display: grid;
  grid-template-areas:
    "feature-1"
    "feature-2"
    "feature-3";
  @include mq("md") {
    grid-template-columns: 50% 50%;
    grid-template-rows: 220px 275px;
    grid-template-areas:
      "feature-1 feature-1"
      "feature-2 feature-3";
  }
}

.feature-1 {
  grid-area: feature-1;
}
.feature-2 {
  grid-area: feature-2;
}
.feature-3 {
  grid-area: feature-3;
}
